body {
	background-image: url("../images/background.png");
}

h1{
	color: white;
	font-size: 38pt;
	text-align: center;
	font-family: 'Bungee Shade', cursive;
	line-height: 1.2;
}

h2, h3{
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	max-width: 50%;
	margin: auto;
}

#instructions, #guessingNumber, #scoreboard, #result, #yts {
	background-color: #009688;
	float: left;
	padding: 10px;
	margin: 20px 20px 0px 0px;
	border: solid 1px #ddd;
	}

#instructions {
	width: 100%;
}

#guessingNumber {
	width: 35%;
	text-align: center;
}

#result {
	width: 35%;
	text-align: center;
}

#scoreboard {
	line-height: 0.35;
}

#crystals {
	margin: auto;
	padding-top: 20px;
	width: 50%;
	clear: both;
}

.crystalImage {
	height: 80px;
}

.crystalImage:firstchild {
	margin: auto;
}
#yts {
	width: 100%;
	text-align: center;
}